## POLSCI 3 Summer 2022

## Week 6 Lecture Notebook 1: Descriptive Statistics

In this notebook we will learn new tools for examining the properties of our data. What are the usual values that occur? Which data are outliers? What do the data "look like"? We will begin by reading in the electoral data from last lecture.

In [1]:
# This stores, or assigns, the dataset as election.data
election.data <- read.csv('FairFPSR3.csv')

Here is the **codebook** that tells you what each variable means.

`inc_vote`: % of major party presidential vote won by incumbent party

`year`: Year of the presidential election

`inflation`: Inflation rate

`goodnews`: Number of quarters in the first 15 quarters of admin in which econ growth>3.2%

`growth`: % change in real GDP per capita

Sometimes we just want to look at the values of individual variables (columns) in our data. To determine that we need to refer to individual variables (columns) in the dataset. Recall from last time that we referred to individual variables as `dataSetName$varName`. To list the values of the `inc_vote` variable:

In [2]:
election.data$inc_vote

 [1] 48.516 50.220 49.846 50.414 48.268 47.760 53.171 60.006 54.483 54.708
[11] 51.682 36.148 58.263 58.756 40.851 62.226 54.983 53.778 52.319 44.710
[21] 57.094 49.913 61.203 49.425 61.791 48.951 44.842 59.123 53.832 46.379
[31] 54.737 50.262 51.233 46.311 52.010 51.111

Something we often want to know are the average values of the data. The average makes most sense with data like `inc_vote` or `growth` or `inflation`, which are "continuous variables" where it makes sense to add and subtract values from one another. 

For a variable $X$, its mean, $\overline{X}$, is given by:

$$\overline{X} = \frac{\sum_{i=1}^{n}X_i}{n}$$

To take the mean (average) in R we use `mean(dataSetName$varName)`:

In [3]:
# This computes the mean (average) of the inc_vote column of the data
mean(election.data$inc_vote)

[1] 51.92569

We can assign the mean to a new variable, mean.inc_vote:

In [4]:
mean.inc_vote <- mean(election.data$inc_vote)

When we have categorical variables with values such as `male` and `female` (variable name `sex`) or `Catholic` and `Protestant` (variable name `religion`) it doesn't make sense to compute an average. Instead we usually want to know the number or proportion of observations in each category. To compute this we need the `table` command: `table(dataSetName$varName)`.

To see how this works we are going to read in a new dataset where the observations are countries. 
Let's read in those data:

In [6]:
happiness_data <- read.csv('happiness_polity_2018.csv')
head(happiness_data)

  countryname polity2 polity2_cat gdpcapita gdpcapita_cat happiness
1 Afghanistan -1      anocracies   2190.751 low-income    2.694
2 Albania      9      democracies 13602.374 middle-income 5.004
3 Algeria      2      anocracies  11475.844 middle-income 5.043
4 Argentina    9      democracies 22742.701 middle-income 5.793
5 Armenia      7      democracies 12720.883 middle-income 5.062
6 Australia   10      democracies 49563.000 rich          7.177
  happiness_cat    life_expectancy life_expectancy_cat
1 least happy      52.6            shortest lives
2 middle happiness 68.7            middle
3 middle happiness 65.9            middle
4 middle happiness 68.8            middle
5 middle happiness 66.9            middle
6 most happy       73.6            longest lives

This dataset contains data from countries around the world in terms of factors such as happiness levels, 
political categories, and demographic information. Here's a codebook:

<code>polity2</code>: The "Polity Score" of the country, which measures its political system on a 21-pont scale 
ranging from -10 (hereditary monarchy) to +10 (consolidated democracy).

<code>polity2_cat</code>: The political category the country is identified within. "autocracies" are on one end of 
the spectrum, "anocracies" are in the middle (semi-democracies), and "democracies" are at the top of the spectrum.

<code>gdpcapita</code>: GDP per Capita (economic output per person)

<code>gdpcapita_cat</code>: GDP/income category that the country falls into (based on GDP per capita)

<code>happiness</code>: The country's happiness index, measured through surveys that require participants to rank 
their level of happiness based on an assortment of quality-of-life factors

<code>happiness_cat</code>: Happiness category that the country falls into (based on happpiness indicator)

<code>life_expectancy</code>: Average life expectancy in years

<code>life_expectancy_cat</code>: Life Expectancy category that the country falls into

Suppose we want to see what the most common global income category is. We are going to use the table() function with an argument corresponding to the column we want to interpret.

## One-Way Tables

In [7]:
table(happiness_data$gdpcapita_cat)

   low-income middle-income          rich
           34            64            33

Suppose we want to know how many democracies and dictatorships there are:

In [8]:
table(happiness_data$polity2_cat)

 anocracies autocracies democracies
         34          12          85

This example also shows why categorical variables can be useful. It's really not that useful to make a table of all the values of gdpcapita:

In [9]:
table(happiness_data$gdpcapita)

761.27924 1042.1069 1196.3134 1289.4875  1496.673 1553.0873  1576.559 1613.2405
        1         1         1         1         1         1         1         1
1664.0336 1766.9325 2088.0796 2102.7473 2121.7571 2132.3928 2145.2256 2190.7515
        1         1         1         1         1         1         1         1
2282.4387 2497.3862 2588.9307  3065.604 3130.6621 3162.1265 3235.6975 3251.9167
        1         1         1         1         1         1         1         1
3314.2942 3415.2285 3522.7593 3604.7207 4158.8765  4204.875 4442.6226 4740.9829
        1         1         1         1         1         1         1         1
5029.1172 5044.2285 5130.7144 5156.4331 5192.6543 5670.3135 5693.0439 6496.3794
        2         1         1         1         1         1         1         1
6754.7407 7435.3398 7585.5469 7593.1396 8450.6602 8518.5391 8604.1543 8612.7578
        1         1         1         1         1         1         1         1
8655.9307 9857.6201 9936.8018 10657.298 10764.408 11361.666 11373.026 11475.844
        1         1         1         1         1         1         1         1
11556.456 11920.318 12332.583  12369.64 12632.147 12720.883 12784.647  12861.58
        1         1         1         1         1         1         1         1
13602.374  14214.25 14256.947 14457.961 14603.255 14750.023 14838.783 15017.923
        1         1         1         1         1         1         1         1
15244.895 15615.201  17361.32 17641.332 17712.035 18087.936 18882.668 19418.852
        1         1         1         1         1         1         1         1
19990.248 20619.654 21590.303 22181.191 22203.393 22742.701 24270.094 25539.965
        1         1         1         1         1         1         1         1
26662.143 27529.119 27556.672  28310.85 28566.793 29702.895 29941.482  31039.02
        1         1         1         1         1         1         1         1
31070.059 31761.184 32080.396 33996.063 35312.777 35383.469 38025.016  38832.02
        1         1         1         1         1         1         1         1
 39458.32 39537.309 40335.996 41068.641 41898.262 42192.578 42616.629 45569.789
        1         1         1         1         1         1         1         1
46304.758 47619.609 48194.492 48922.875     49563 51225.863 53156.707  53637.32
        1         1         1         1         1         1         1         1
55714.766 56106.133 56443.758  61389.84 63322.738 66970.031 68459.648 83449.734
        1         1         1         1         1         1         1         1
97733.508 114119.39
        1         1

Tables are one of the easiest ways to understand categorical variables in a dataset. For example, we learned above that middle-income countries form the majority in the dataset. Another thing we might want to know is what *proportion* of values are in each category. For that we use the `prop.table` command:

In [10]:
prop.table(table(happiness_data$gdpcapita_cat))

   low-income middle-income          rich
    0.2595420     0.4885496     0.2519084

### Two-Way Tables 

Two-way tables allow us to see how values of one variable correspond with another. For example, instead of just looking at polity, we can look at polity scores among countries of each income level in one table. 

To do this, we use the same `table()` command, but instead we give it *two* variables, separated by a comma. The first variable is the variable that we want to go along each row, and the second is the variable we want to go along each column.

Let's group GDP categories with political categories to see how many countries fit into each of the groupings:

In [11]:
table(happiness_data$polity2_cat, happiness_data$gdpcapita_cat)

              low-income middle-income rich
  anocracies          21            12    1
  autocracies          1             9    2
  democracies         12            43   30

Let's use `prop.table` to get a more intuitive look at the relationship between regime type and income:

In [12]:
prop.table(table(happiness_data$polity2_cat, happiness_data$gdpcapita_cat))

               low-income middle-income        rich
  anocracies  0.160305344   0.091603053 0.007633588
  autocracies 0.007633588   0.068702290 0.015267176
  democracies 0.091603053   0.328244275 0.229007634

## Review

We learned three new R functions today:

- `table(dataset$variable)`
- `table(dataset$first.variable, dataset$second.variable)`
- `prop.table(table(dataset$first.variable, dataset$second.variable))`

#### Reminder about Peer Consulting Office Hours

If you had trouble with any content in this notebook, Data Peer Consultants are here to help! You 
can view their locations and availabilites at this link: https://data.berkeley.edu/degrees/peer-advising.
Peer Consultants are there to answer all data-related questions, whether it be about the content of this notebook,
applications of data science in the world or other data science courses offered at Berkeley -- 
make sure to take advantage of this wonderful resource!